.aider*
node_modules
.env

# Frontend related files
.next/
out/
.env
*.log
*.lock
*.cache
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/
*.history/
*.sass-cache/
*.eslintcache
*.stylelintcache
coverage/
dist/
build/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

